<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Contact Page</h1>
    <p><%= qs.dept %></p>
    <br><br>
    <form method="POST" action="/contact">
        <input type="text" name="who" value="<%=qs.person %>" placeholder="contact to whom"><br>
        <input type="text" name="department" value="<%= qs.dept %>" placeholder="dept"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>